html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #303030;
  font-family: helvetica, sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 5px;
  color: white;
}

.wrapper {
  margin: 50px auto;
  max-width: 640px;
}

.container{
  min-height: 50px;
  padding-top: 20px;
  text-align: center;
  background-image: url('https://cdn.dribbble.com/users/823181/screenshots/3894893/scenery_illustration.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  clip-path: circle(30px);
color: transparent;

}

.container-snow{
  min-height: 50px;
  padding-top: 20px;
  text-align: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0f/Scandinavian_Snowflake.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  clip-path: url('https://upload.wikimedia.org/wikipedia/commons/0/0f/Scandinavian_Snowflake.svg');
color: transparent;

}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.color1 {
  background-color: purple;
}

.color2 {
  background-color: #9c27b0;
}

.color3 {
  background-color: yellow;
}

.color4 {
  background-color: yellow;
}

.color5 {
  background-color: red;
}

.color6 {
  background-color: red;
}


.display-none-example .circle {
  display: inline-block;
}

.display-none-example:hover > div:nth-child(2){
  display: none;
}

.display-block-example span {
  display: block;
  margin: 30px auto;
  /*float: left;*/
}

.display-inline-example span {
  margin: 30px;
  padding: 10px;
}

.display-inline-block-example span {
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.display-table-example {
  display: table;
  width: 100%;
  height: 400px;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.display-table-example span {
  display: inline-block;
}

.display-flex-example {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}